[2019-12-31 21:40] weierophinney opened #1 "Package http-interop/http-middleware is abandoned"
- [x] I was not able to find an [open](https://github.com/zendframework/zend-mvc/issues?q=is%3Aopen) or [closed](https://github.com/zendframework/zend-mvc/issues?q=is%3Aclosed) issue matching what I'm seeing.
 - [x] This is not a question. (Questions should be asked on [slack](https://zendframework.slack.com/) ([Signup for Slack here](https://zendframework-slack.herokuapp.com/)) or our [forums](ht

[2019-12-31 21:40] weierophinney commented on #1
@halfpastfouram Thanks, we know about it and we are working on package https://github.com/zendframework/zend-mvc-middleware/ so middleware implementation in MVC can be extracted.

/cc @Xerkus

---

Originally posted by @michalbundyra at https://github.com/zendframework/zend-mvc/issues/316#issuecomment-534909538

[2019-12-31 21:40] weierophinney opened #2 "fixed SimpleStreamResponseSender ignored defined content length"
Provide a narrative description of what you are trying to accomplish:

We are using the stream HTTP response to directly stream file content from S3 to clients.
As we are dealing with video files we are using the the `Range`/`Content-Range` headers to allow clients to download specific parts of files.

To be able to do so we use the `Zend\Http\Response\Stream::setContentLength` method together wit

[2019-12-31 21:40] weierophinney opened #3 "AbstractRestfulController's onDispatch - set action/method parameter prior dispatch"
## AbstractRestfulController: Set action/method parameter prior dispatch
 - [x] I was not able to find an [open](https://github.com/zendframework/zend-mvc/issues?q=is%3Aopen) or [closed](https://github.com/zendframework/zend-mvc/issues?q=is%3Aclosed) issue matching what I'm seeing.
 - [x] This is not a question. (Questions should be asked on [slack](https://zendframework.slack.com/) ([Signup for S

[2019-12-31 21:40] weierophinney opened #4 "Ability to specify response code on controller plugin redirect"
- [X ] I was not able to find an [open](https://github.com/zendframework/zend-mvc/issues?q=is%3Aopen) or [closed](https://github.com/zendframework/zend-mvc/issues?q=is%3Aclosed) issue matching what I'm seeing.
 - [X ] This is not a question. (Questions should be asked on [slack](https://zendframework.slack.com/) ([Signup for Slack here](https://zendframework-slack.herokuapp.com/)) or our [forums](

[2019-12-31 21:40] weierophinney commented on #4
There is an open todo in the class of the redirect plugin:

https://github.com/zendframework/zend-mvc/blob/9f092ff24945f208047d99dff81f67de8862b5f4/src/Controller/Plugin/Redirect.php#L16

In the meantime you can use this workaround in any controller action:

[code]

---

Originally posted by @froschdesign at https://github.com/zendframework/zend-mvc/issues/313#issuecomment-511568960

[2019-12-31 21:40] weierophinney opened #5 "Updated AbstractActionController::indexAction return type to reflect real usage"
- [x] Is this related to quality assurance?

When running static analysis against a simple userland controller like:
[code]
That do **NOT** provide the return type, neither with PHP 7.1 return type nor via DocBlock, tools like PHPstan use inherited docs and report:
[code]
Of course users should add return types, but it would result in requiring a massive code update without real benefits, since th

[2019-12-31 21:40] weierophinney commented on #5
As it seems you've worked on ZF with PHPStan quite a lot, what do you think about this @thomasvargiu?

---

Originally posted by @Slamdunk at https://github.com/zendframework/zend-mvc/pull/312#issuecomment-500407080

[2019-12-31 21:40] weierophinney commented on #5
@Slamdunk I have the same problem in my projects and right now I’m ignoring that kind of errors.
But yes, even if I don’t like methods that can return 5 or 6 different types, we should fix the phodoc return type.

---

Originally posted by @thomasvargiu at https://github.com/zendframework/zend-mvc/pull/312#issuecomment-500736136

[2019-12-31 21:40] weierophinney commented on #5
But probably it's better to use only `ResponseInterface` and `ModelInterface`, starting deprecating `array`, `null`, and `void`.

---

Originally posted by @thomasvargiu at https://github.com/zendframework/zend-mvc/pull/312#issuecomment-500738714

[2019-12-31 21:40] weierophinney opened #6 "While attempting to create httproutenotfoundstrategy"
Hello

We have custom system based on zf2, when I update zend-mvc to version 2.7.15 , I have this error :
[code]

we have custom config fro load all (( Default mvc-related service configuration )), I do some changes on my config file and all new options like MiddlewareListener and ..

But we have problem and error on loading `HttpRouteNotFoundStrategy` and `HttpExceptionStrategy` and `HttpDefaultR

[2019-12-31 21:40] weierophinney opened #7 "Allow services from container"
Allow retrieving services from container in `ModuleManagerFactory`

---

Originally posted by @thomasvargiu at https://github.com/zendframework/zend-mvc/pull/310

[2019-12-31 21:40] weierophinney commented on #7
@weierophinney can you re-run the failed test?
With this PR I will able to use the same configured container from a zend-expressive configuration in a zend-mvc application, disabling the `ServiceListener::addServiceManager()` calls (and some other changes).

It could be nice if we can cherry-pick on master for the next release.

---

Originally posted by @thomasvargiu at https://github.com/zendfra

[2019-12-31 21:40] weierophinney opened #8 "Split middleware support into satellite package and deprecate MiddlewareListener"
Number of issues arose from version incompatibilities due to lack of version constraints on zend-stratigility.

A way forward is to deprecate Middleware listener and introduce satellite package defining dependencies both on zend-mvc and zend-stratigility.

zendframework/zend-mvc-middleware#1

---

Originally posted by @Xerkus at https://github.com/zendframework/zend-mvc/issues/308

[2019-12-31 21:40] weierophinney commented on #8
In the absence of this being split out yet, are the correct versions for these dependencies documented
for `zend-mvc 3.1` + `zend-stratigility`?

---

Originally posted by @christaggart at https://github.com/zendframework/zend-mvc/issues/308#issuecomment-506582541

[2019-12-31 21:40] weierophinney commented on #8
@christaggart we have the following constraints in our project:
[code]
that currently installs `zend-mvc: 3.1.1` and `zend-stratigility: 2.1.2`

Afaik, `zend-stratigility` `2.2` and `3.x` don't work with the current `zend-mvc`.

---

Originally posted by @rieschl at https://github.com/zendframework/zend-mvc/issues/308#issuecomment-506625603

[2019-12-31 21:40] weierophinney commented on #8
BTW: I just saw that the `composer.json` of the current master [also suggests that](https://github.com/zendframework/zend-mvc/blob/c3edbac00aacf332c5d4004f69e3c07dfb43da81/composer.json#L49).

---

Originally posted by @rieschl at https://github.com/zendframework/zend-mvc/issues/308#issuecomment-506627059

[2019-12-31 21:40] weierophinney commented on #8
Hi guys some status? now im using zend events for middleware render next step, thats very ugly

---

Originally posted by @italodeveloper at https://github.com/zendframework/zend-mvc/issues/308#issuecomment-519084835

[2019-12-31 21:40] weierophinney opened #9 "PHPStan fixes"
In order to bump to PHP 7 minimum version in the future, I used phpstan to static analyse the code, correcting some phpdoc errors and adding guards throwing exceptions when needed. Code quality will be improved when other components will be improved.

It's just a first step, but I think it will be useful.

I don't know if this could be considered a BC break, probably it isn't.

---

Originally pos

[2019-12-31 21:40] weierophinney commented on #9
@Ocramius I can add phpstan on CI, but just a low level. Too many errors depends on other libraries.

---

Originally posted by @thomasvargiu at https://github.com/zendframework/zend-mvc/pull/296#issuecomment-429845580

[2019-12-31 21:40] weierophinney commented on #9
@thomasvargiu that's fine - we can raise the level as we get better

---

Originally posted by @Ocramius at https://github.com/zendframework/zend-mvc/pull/296#issuecomment-429848539

[2019-12-31 21:40] weierophinney commented on #9
@thomasvargiu btw, I still suggest getting rid of all the `throw new SomeException($someString)`, and having `throw SomeException::unexpectedType($expected, $actual)` instead

---

Originally posted by @Ocramius at https://github.com/zendframework/zend-mvc/pull/296#issuecomment-429881636

[2019-12-31 21:40] weierophinney commented on #9
@Ocramius I'm still working on this. I set this PR as WIP

---

Originally posted by @thomasvargiu at https://github.com/zendframework/zend-mvc/pull/296#issuecomment-429882201

[2019-12-31 21:40] weierophinney commented on #9
Done. Needs a complete review

---

Originally posted by @thomasvargiu at https://github.com/zendframework/zend-mvc/pull/296#issuecomment-429959339

[2019-12-31 21:40] weierophinney opened #10 "Added FQCN aliases to `ServiceListenerFactory` so some could use e.g. ReflectionBasedAbstractFactories"
The `ServiceListenerFactory` is actually missing some aliases.
I've added the missing ones and fixed the old unit tests which provided non-matching configuration to the unit test either.

For ZF4 we should consider switching the FQCN to the `factories` and moving the old strings to the `aliases` configuration.

---

Originally posted by @boesing at https://github.com/zendframework/zend-mvc/pull/29

[2019-12-31 21:40] weierophinney commented on #10
@boesing
I've started a PR for the latter a month ago https://github.com/zendframework/zend-mvc/pull/292

However, I'm not sure if it would ever be merged, because @Xerkus has another PR for `zend-mvc` v4, which already does that, by defining a `ConfigProvider`.
Link to the PR: https://github.com/zendframework/zend-mvc/pull/259
Link to the config provider: https://github.com/zendframework/zend-mvc

[2019-12-31 21:40] weierophinney commented on #10
@thexpand Oh, didn't noticed. However, your changes supposed to be BC Break since you are moving the factories to alias and vice versa.
I would prefer having a working logic for ZF3 and I'm not sure if there is already any ZF4 ETA at all?

---

Originally posted by @boesing at https://github.com/zendframework/zend-mvc/pull/294#issuecomment-420925034

[2019-12-31 21:40] weierophinney commented on #10
There is no ZF3, actually. There won't be ZF4. Zend Framework is no longer a monolithic framework, but rather a component-based one, as it is now divided into separate repositories, each with its own versioning (i.e. `zend-mvc` could be `3.1.1`, but `zend-form` may be on `5.0.0`).

So I guess you are talking about v4 of `zend-mvc`. You can track down @Xerkus 's work on the PR, as well as this thre

[2019-12-31 21:40] weierophinney commented on #10
@boesing

Can you explain where do you see a BC break? Thanks!

---

Originally posted by @froschdesign at https://github.com/zendframework/zend-mvc/pull/294#issuecomment-420933239

[2019-12-31 21:40] weierophinney commented on #10
@froschdesign
I've created a unit test to show what I mean:

Actually, we have this configuration:

[code]

If you change this to the following (which does that PR we are talking about [#292]), it will look like this:

[code]

Since there is no delegator registered for `ControllerManager::class` (FQCN), the delegator is never called.

So, in fact, every project which implemented own delegators for

[2019-12-31 21:40] weierophinney commented on #10
@boesing I think that the main problem is that `ServiceManager::addDelegator()` does not resolve the name, that was passed to it. I have manually added the following line to the method and ran your test:
`$name = isset($this->resolvedAliases[$name]) ? $this->resolvedAliases[$name] : $name;`

It worked okay, but I'm not sure that I am right. Anyone?

EDIT: Extending a little bit more.
Here the dele

[2019-12-31 21:40] weierophinney commented on #10
@froschdesign
I'm summarizing our short discussion with @boesing on Slack.

Delegators are added to the service manager by the actual name of the service and not by their aliases. Moving the actual service names in the aliases array will be a BC Break, as previously registered delegators to that service won't be called at all.

What we can do is already implemented with this PR. The missing FQCN c

[2019-12-31 21:41] weierophinney commented on #10
@boesing
Thanks for the explanation and the included unit tests, they help more than 1000 words. 👍

@thexpand
Notice: If you open an issue report or a pull request, you can also close it yourself.

---

Originally posted by @froschdesign at https://github.com/zendframework/zend-mvc/pull/294#issuecomment-422645100

[2019-12-31 21:41] weierophinney commented on #10
On hold for now as it potentially conflicts with my work in progress for next major.

---

Originally posted by @Xerkus at https://github.com/zendframework/zend-mvc/pull/294#issuecomment-464413669

[2019-12-31 21:41] weierophinney opened #11 "improvement: Adding examples for AbstractRestfulController actions"
Provide a narrative description of what you are trying to accomplish:

- [ ] Are you fixing a bug?
  - [ ] Detail how the bug is invoked currently.
  - [ ] Detail the original, incorrect behavior.
  - [ ] Detail the new, expected behavior.
  - [ ] Base your feature on the `master` branch, and submit against that branch.
  - [ ] Add a regression test that demonstrates the bug, and proves the fix.

[2019-12-31 21:41] weierophinney opened #12 "Minor comment update"
The statement in `injectEventManager`'s comments that a shared event manager is injected into an existing event manager is incorrect - the code replaces the existing event manager with a new one.  That's what I updated.

I may have added too much 'how it works' detail, but I puzzled over this a bit so I thought the explanation might help future readers.

---

Originally posted by @bitwombat at htt

[2019-12-31 21:41] weierophinney commented on #12
Also, I wonder about the pre-existing comment that "the conditional will always pass". I think that's true. Then does it need to be a conditional?

---

Originally posted by @bitwombat at https://github.com/zendframework/zend-mvc/pull/285#issuecomment-397136114

[2019-12-31 21:41] weierophinney opened #13 "support zend-stratigility 3?"
originally i submitted issue at `ZendSkeletonApplication` repo https://github.com/zendframework/ZendSkeletonApplication/issues/433 , which seems should be here

When I tried to use middleware in zend-mvc 3, it require to install `zend-stratigility` as it seems it no longer required, so I add the `zend-stratigility` to require with command:

[code]

and it installed the `zend-stratigility` 3. After

[2019-12-31 21:41] weierophinney commented on #13
Related to #259

---

Originally posted by @froschdesign at https://github.com/zendframework/zend-mvc/issues/283#issuecomment-418304794

[2019-12-31 21:41] weierophinney commented on #13
Should be resolved as part of #308

---

Originally posted by @Xerkus at https://github.com/zendframework/zend-mvc/issues/283#issuecomment-464412822

[2019-12-31 21:41] weierophinney opened #14 "The mvc event listener invalid for namespace if it's multi segment namespaces"
There is a question for me.
On a module, Like the path: module/Application, module/Admin, etc...
Most of time. the module namespace is use: Application\\, Admin\\, and now I want make a module is common module for other project.  So I rename the namespace to: Brand\\Admin\\ replace the old Admin\\ like this.
And then. the question is happened. I tracking all the script flow. The event manager just

[2019-12-31 21:41] weierophinney commented on #14
I debug the EventManager->triggerListeners() method.
The class identifiers attribute include the followed ids.

Array (
  [0] => Zend\Mvc\Controller\AbstractController
  [1] => Application\Controller\IndexController
  [2] => Application **// Notice there, if visit admin module. There will been: Brand, not expected: Brand\Admin**
  [3] => Zend\Mvc\InjectApplicationEventInterface
  [4] => Zend\Event

[2019-12-31 21:41] weierophinney commented on #14
#282 Should fix this

---

Originally posted by @Xerkus at https://github.com/zendframework/zend-mvc/issues/274#issuecomment-464413848

[2019-12-31 21:41] weierophinney opened #15 "[WIP]Drop module manager"
This PR removes ModuleManager from MVC, removes dependency on its ServiceListener and changes factories for various managers that depended on it to pull config from container instead. Container is now expected to be configured before application is created.

Main container is no longer required to be ServiceManager. To accommodate that change, EventManager initializer is removed. Should users need

[2019-12-31 21:41] weierophinney commented on #15
Current documentation is quite dated. I think I will leave out documentation update in this PR for the major docs update when more of the significant changes for next are done and merged.

---

Originally posted by @Xerkus at https://github.com/zendframework/zend-mvc/pull/273#issuecomment-482533370

[2019-12-31 21:41] weierophinney commented on #15
Any news on this PR? It looks amazing!

---

Originally posted by @vaclavvanik at https://github.com/zendframework/zend-mvc/pull/273#issuecomment-511005172

[2019-12-31 21:41] weierophinney opened #16 "Change link in repository description"
Please change link in the repository description:
currently we have: https://github.com/zendframework/zf2
but IMHO we should have there: https://docs.zendframework.com/zend-mvc/

It would be nice also add some tags to the repo. Maybe the same as we have in composer.json?

---

Originally posted by @michalbundyra at https://github.com/zendframework/zend-mvc/issues/264

[2019-12-31 21:41] weierophinney commented on #16
We should remove the link from the repository description.

---

Originally posted by @froschdesign at https://github.com/zendframework/zend-mvc/issues/264#issuecomment-346765685

[2019-12-31 21:41] weierophinney commented on #16
@froschdesign offtopic: can't find you in slack. Are you registered there?

---

Originally posted by @Xerkus at https://github.com/zendframework/zend-mvc/issues/264#issuecomment-346796854

[2019-12-31 21:41] weierophinney commented on #16
@froschdesign

I disagree, in other repositories we have it set (maybe I wasn't clear, it's not in description but in separate field "website") - and also "sync-repos" script in maintainers repository updates website to be link to the docs

https://github.com/zendframework/maintainers/blob/332fb4386235fe1de8aec71aa014ccbdd32a412b/src/SyncRepos.php#L53

---

Originally posted by @michalbundyra at h

[2019-12-31 21:41] weierophinney commented on #16
@webimpress

You are right, there are two fields – description and website.

---

Originally posted by @froschdesign at https://github.com/zendframework/zend-mvc/issues/264#issuecomment-346851095

[2019-12-31 21:41] weierophinney commented on #16
@weierophinney can you update the repo description please?

---

Originally posted by @Xerkus at https://github.com/zendframework/zend-mvc/issues/264#issuecomment-464414249

[2019-12-31 21:41] weierophinney opened #17 "LazyControllerAbstractFactory doesn't look in FormManager"
The extremely convenient LazyControllerAbstractFactory only checks ServiceManager when making objects for the controller's constructor.

This means that I have to move any forms without a factory from the 'form_elements' config array to 'service_manager'... and odd delineation.

---

Originally posted by @bitwombat at https://github.com/zendframework/zend-mvc/issues/255

[2019-12-31 21:41] weierophinney opened #18 "RESTful: Handle single field request with empty value"
`Controller/AbstractRestfulController`

There is no way to PUT/PATCH object with single field to empty value.

[code]

Request payload is interpreted as string (`$data = 'name=';`) regardless Content-Type.
Proper value is `$data = ['name' => ''];`

I think ideally is split behaviour by Content-Type but that follows to huge BC. (see [testCanReceiveStringAsRequestContent](/zendframework/zend-mvc/blo

[2019-12-31 21:41] weierophinney commented on #18
@autowp I've made the change a bit more generic. It does not depend now on the content-type, as it was before. In case we have one element with empty value we are checking if the last character of the content is `=`. If so, then it is "correct" urlencoded content and we return array, as expected.
In case we have any string without `=` it will return this string, not an array.

In general I think i

[2019-12-31 21:41] weierophinney opened #19 "Is it bug or feature? The problem with redirect plugin and session."
Hello

Let me first tell a story how I reached to this issue. I have spent more than 6 hours in sum with a face like this one '**O_O**' trying to add a very simple feature, which every modern framework have, in my app based on zf3. It's a flash messenger.

I just wanted to display some fancy messages after actions connected with form submission, like auth or change password.

1) I have started wit

[2019-12-31 21:41] weierophinney commented on #19
Just asking the obvious: Is there anything you're doing after your call to $this->redirect() that may be executed and may clear the session?

---

Originally posted by @MatthiasKuehneEllerhold at https://github.com/zendframework/zend-mvc/issues/227#issuecomment-286688247

[2019-12-31 21:41] weierophinney commented on #19
@MatthiasKuehneEllerhold of course not. And I have written it above.

---

Originally posted by @seyfer at https://github.com/zendframework/zend-mvc/issues/227#issuecomment-286689286

[2019-12-31 21:41] weierophinney opened #20 "Malformed request causes uncaught exception instead of 400 Bad Request"
https://github.com/zendframework/zend-http/issues/116 revealed that malformed HTTP request, in this case with header with empty value, leads to http request factory throwing exception.
Since it is happening early on during application bootstrap, it leads in turn to uncaught exception fatal error instead of proper `400 Bad Request` response.

---

Originally posted by @Xerkus at https://github.com/

[2019-12-31 21:41] weierophinney opened #21 "Do we really need notFoundAction?"
The question is simple: do we really need notFoundAction?

https://github.com/zendframework/zend-mvc/blob/master/src/Controller/AbstractActionController.php#L43

I don't think so...

My problems:
1. It's not triggering a dispatch error, while all other and similar (!) errors do. If we can't locate the controller, we trigger a dispatch error, if we can't locate the action inside that controller, we

[2019-12-31 21:41] weierophinney commented on #21
One small remark: removing notFoundAction would allow us to remove Zend\Mvc\View\Http\RouteNotFoundStrategy listener (prepareNotFoundViewModel) from the dispatch event listeners.

Currently we are checking the status code of the response for each and every request (https://github.com/zendframework/zend-mvc/blob/master/src/View/Http/RouteNotFoundStrategy.php#L174), which, in my opinion, is a bad pr

[2019-12-31 21:41] weierophinney commented on #21
+1 I'm having the same issue with the notFoundAction in Zend 3. I want to catch dispatch errors but they are never thrown when an action that doesn't exist is called on a controller.

This issue has been opened since Oct. 2016 but it hasn't been assigned to anyone and it hasn't been labelled?

---

Originally posted by @burrellramone at https://github.com/zendframework/zend-mvc/issues/204#issuecom

[2019-12-31 21:41] weierophinney commented on #21
@burrellramone

The zend-mvc component is subject to some [changes](https://discourse.zendframework.com/t/rfc-zend-mvc-4-design-changes/447) which are under development.
An assessment of the current problem did not occur previously. So the issue itself is still open and relevant.

---

Originally posted by @froschdesign at https://github.com/zendframework/zend-mvc/issues/204#issuecomment-552416482

[2019-12-31 21:41] weierophinney opened #22 "Fatal error no catch in views"
When I have an exception in a "view" from a ViewHelper I recive a generic message :
"An error occurred during execution; please try again later.
No Exception available" without give me more info about the error.

But when I try same error in "layout" I recive this message "Fatal error: Uncaught Error:"  with additional information about the error (trace-files).

How you know, when not have informa

[2019-12-31 21:41] weierophinney commented on #22
I experienced same issue with view helper; we need more verbose error in view helper. I issued about it long time ago

---

Originally posted by @samsonasik at https://github.com/zendframework/zend-mvc/issues/199#issuecomment-246572349

[2019-12-31 21:41] weierophinney commented on #22
related tweet by @akrabat :

![need more verbose](https://cloud.githubusercontent.com/assets/459648/4800305/862175d4-5e24-11e4-84ac-324a393ca610.png)

---

Originally posted by @samsonasik at https://github.com/zendframework/zend-mvc/issues/199#issuecomment-246606415

[2019-12-31 21:41] weierophinney opened #23 "Class names for ServiceListenerFactory"
I noticed that most services defined in the `Zend\Mvc\Service\ServiceListenerFactory` still use strings for the services names instead of class names.

https://github.com/zendframework/zend-mvc/blob/develop/src/Service/ServiceListenerFactory.php

It looks a little inconsequent in a factory when all services are requested by class names except the very important `ViewHelperManager` for example. Is

[2019-12-31 21:41] weierophinney commented on #23
See at #259

https://github.com/zendframework/zend-mvc/blob/bf93aa5e64e688a4f2bc7a50679c152bac289cae/src/ConfigProvider.php#L119

---

Originally posted by @froschdesign at https://github.com/zendframework/zend-mvc/issues/186#issuecomment-418307280

[2019-12-31 21:41] weierophinney opened #24 "[ZF3] FlashMessenger: sort by datetime / multiple tagging"
This issue has been moved from the `zendframework` repository as part of the bug migration program as outlined here - http://framework.zend.com/blog/2016-04-11-issue-closures.html

---

Original Issue: https://api.github.com/repos/zendframework/zendframework/issues/7161
User: @ThaDafinser
Created On: 2015-01-27T11:53:21Z
Updated At: 2015-04-22T08:56:44Z
Body
Since the flashMessenger uses namespace

[2019-12-31 21:41] weierophinney opened #25 "[ZF3] Simplifying MvcEvent"
This issue has been moved from the `zendframework` repository as part of the bug migration program as outlined here - http://framework.zend.com/blog/2016-04-11-issue-closures.html

---

Original Issue: https://api.github.com/repos/zendframework/zendframework/issues/7185
User: @bakura10
Created On: 2015-02-05T15:11:06Z
Updated At: 2015-11-06T21:25:43Z
Body
Hi everyone,

I think I may already talked

[2019-12-31 21:41] weierophinney opened #26 "ViewHelperManager Service cannot be created outside Application context"
This issue has been moved from the `zendframework` repository as part of the bug migration program as outlined here - http://framework.zend.com/blog/2016-04-11-issue-closures.html

---

Original Issue: https://api.github.com/repos/zendframework/zendframework/issues/7191
User: @boukeversteegh
Created On: 2015-02-06T13:54:40Z
Updated At: 2015-02-06T14:20:45Z
Body
To Bootstrap my unit tests, I had to

[2019-12-31 21:41] weierophinney opened #27 "Using forward/dispatch results in different RouteMatch class object"
This issue has been moved from the `zendframework` repository as part of the bug migration program as outlined here - http://framework.zend.com/blog/2016-04-11-issue-closures.html

---

Original Issue: https://api.github.com/repos/zendframework/zendframework/issues/7389
User: @kuldeep-k
Created On: 2015-03-31T08:32:24Z
Updated At: 2015-11-06T21:05:11Z
Body
I am building a rest based auth forwardin

[2019-12-31 21:42] weierophinney opened #28 "Suggestion: AbstractRestfulController:$identifierName should default to null"
This issue has been moved from the `zendframework` repository as part of the bug migration program as outlined here - http://framework.zend.com/blog/2016-04-11-issue-closures.html

---

Original Issue: https://api.github.com/repos/zendframework/zendframework/issues/7395
User: @tylkomat
Created On: 2015-04-01T07:27:21Z
Updated At: 2015-11-06T21:05:28Z
Body
As pointed out on the [mailing list](http:

[2019-12-31 21:42] weierophinney opened #29 "Fix controller namespace in event manager"
This issue has been moved from the `zendframework` repository as part of the bug migration program as outlined here - http://framework.zend.com/blog/2016-04-11-issue-closures.html

---

Original Issue: https://api.github.com/repos/zendframework/zendframework/issues/7457
User: @0xPaul
Created On: 2015-04-22T09:29:40Z
Updated At: 2015-05-04T14:59:12Z
Body
Controller was only registering the root nam

[2019-12-31 21:42] weierophinney commented on #29
I have a Ns\SubNs\Controller\IndexController and confirm it is being picked up as Ns\SubNs... There is an undocumented feature, ```"view_manager" => ["controller_map" => ["Ns" => true]]``` which was required for the view templates to be in ns/subns/index as opposed to ns/index...

---

Originally posted by @internalsystemerror at https://github.com/zendframework/zend-mvc/issues/171#issuecomment-26

[2019-12-31 21:42] weierophinney opened #30 "Flash Messenger Namespace Messages Return Nothing"
This issue has been moved from the `zendframework` repository as part of the bug migration program as outlined here - http://framework.zend.com/blog/2016-04-11-issue-closures.html

---

Original Issue: https://api.github.com/repos/zendframework/zendframework/issues/7632
User: @tomshaw
Created On: 2015-09-29T20:01:05Z
Updated At: 2015-11-06T22:24:52Z
Body
Login controller:

<pre>
$this->flashMessen

[2019-12-31 22:15] tomshaw commented on #30
@weierophinney Wow this was ages ago. Can't wait to checkout Laminas! I have no idea about the status of this been utilizing Expressive, I see moved to mezzio/mezzio. Happy New Year Cheers. 👍

[2020-01-02 17:14] boesing commented on #10
@Xerkus As your latest reply was "on hold" in february 2019, is it useful to re-open the PR or do you keep this Issue in mind? Would be fine with both as I actually does not have any issues here.

[2020-01-02 18:09] Xerkus commented on #10
@boesing New features for the current major will be handled asap. My WIP was delayed at first and scrubbed by now, pretty much, with increasing scope of changes and everything happening. I will have to redo changes so any possible conflicts are a moot point.

[2020-01-15 19:24] michalbundyra opened #34 "Unable to render template RuntimeException for AbstractRestfulController"
I get an unable to render template error when i do not over-ride the AbstractRestfulController method.

By default, the response code is set and an array is returned which appears to be picked up and rendered using the default render strategy.

Would it be a good idea to set the response content and return the response or is there something I am missing in the configuration.

I would just like som

[2020-01-15 19:24] michalbundyra commented on #34
I've ran into this issue many times as well and haven't found a good solution.

One way to recreate this is to extend the AbstractRestfulController and implement the get() action but not the getList() action. Then when you go to the getList route, you get a "template not found" error instead of a "Method Not Allowed" response like any other framework gives.

It doesn't make sense for me to have to

[2020-01-15 19:24] michalbundyra commented on #34
I've stumbled across the same problem as I am currently trying to implement a REST API with ZF2.
I registered the `ViewJsonStrategy` in my module and expected the `AbstractRestfulController` to return JSON-Based error-responses for unimplemented methods.

Afte some research I found out that the `JsonStrategy` has been changed long ago in 2.0.4 to only return JSON if a JsonModel has been explicitel

[2020-01-15 19:24] michalbundyra commented on #34
https://github.com/karborator/zend-mvc

---

Originally posted by @karborator at https://github.com/zendframework/zend-mvc/issues/3#issuecomment-227584564

[2020-01-15 19:24] michalbundyra commented on #34
Is there a reason why AbstractRestfulController returns an array in the pre-implemented methods instead of an JsonModel object?

---

Originally posted by @chaos0815 at https://github.com/zendframework/zend-mvc/issues/3#issuecomment-334104801

[2020-01-15 19:24] michalbundyra opened #35 "AbstractRestfulController does not set the Allow headers."
This issue has been moved from the `zendframework` repository as part of the bug migration program as outlined here - http://framework.zend.com/blog/2016-04-11-issue-closures.html

---

Original Issue: https://api.github.com/repos/zendframework/zendframework/issues/7674
User: @parkbot
Created On: 2016-02-19T00:12:44Z
Updated At: 2016-02-21T18:14:38Z
Body
https://tools.ietf.org/html/rfc7231#section

[2020-01-15 19:26] michalbundyra opened #36 "Form file error file size lost in PRG"
Using filePRG in the post request i see that the form contains an error for filesize(i deliberately upload a file too large(based on ini set max size)) but when validating the form, it thinks the file is just missing so i get a 'value required' error. If the file was set to required=false, the form would just pass.

---

Originally posted by @Danielss89 at https://github.com/zendframework/zend-mvc

[2020-01-15 19:26] michalbundyra opened #37 "Accept headers not satisfied in correct order by AcceptableViewModelSelector controller plugin"
According to the [WC3 Specifictations](http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html) the Server should try to satisfy accept headers in order. Currently the order of the content-types in the `Accept` header is not respected.

So when I send a request with an `Accept` header like this: `application/xml, application/json` it should first try to return a `xml` and then a `json` model. When

[2020-01-15 19:26] michalbundyra commented on #37
Is this still an issue?  I tried this test case and it passes:

[code]

---

Originally posted by @adamlundrigan at https://github.com/zendframework/zend-mvc/issues/16#issuecomment-240089443

[2020-01-15 19:26] michalbundyra commented on #37
Thanks for checking this.
I am not sure since I haven't tested it for a long time.
I can see if the issue still applies, will get back on this.

---

Originally posted by @Wilt at https://github.com/zendframework/zend-mvc/issues/16#issuecomment-240099191

[2020-01-15 19:26] michalbundyra opened #38 "Can't set a controller map template replacement to an empty string"
The Inject template listener allows specifying a controller_map to map namespaces or specific controllers to directories. It is not currently possible to specify a mapping for a namespace to '' eg:

[code]

This is due to a `==` comparison with `false` in the listener on line 142:
https://github.com/zendframework/zend-mvc/blob/f46acd021a0d571bc5df400bdd55243adc53580e/src/View/Http/InjectTemplateLi

[2020-01-15 19:26] michalbundyra commented on #38
Suggestions:
- proposed fix is a bc break, no-go, even for 3.x (it is subtle)
- use a separate listener for this functionality, and make it act with a lower priority (should be BC compliant then)

---

Originally posted by @Ocramius at https://github.com/zendframework/zend-mvc/issues/12#issuecomment-120876057

[2020-02-13 17:12] ipsokonet opened #41 "Link to LaminasSkeletonModule is broken"
The Quickstart page at
https://docs.laminas.dev/laminas-mvc/quick-start/ provides links to the  LaminasSkeletonModule as zip or tarball respectively. Both links do not work at present.

[2020-03-02 11:12] #16 closed

[2020-03-16 08:18] froschdesign commented on #41
@weierophinney @michalbundyra @Xerkus
The module skeleton was not ported to laminas, what is the alternative now?

3 sections in the quick start guide are based on the module skeleton:

* [Create a New Module](https://docs.laminas.dev/laminas-mvc/quick-start/#create-a-new-module)
* [Update the Module Class](https://docs.laminas.dev/laminas-mvc/quick-start/#update-the-module-class)
* [Create a Rout

[2020-03-16 08:31] michalbundyra commented on #41
@froschdesign There is no alternative, I believe it should be ported to Laminas as it is used in many examples (as you pointed). Of course it should be also updated at this time to our best practises at this time, imo.

[2020-03-16 09:08] Xerkus commented on #41
I don't think we need skeleton module. Ultimately, module is just a `Module` class that can then provide additional features, where config provider and `onBootstrap` listeners are the only used features in most cases.

Application module provided with mvc skeleton already have the baseline sample structure for the module:
[code]

When module is a standalone package then regular php package structu

[2020-03-16 09:16] michalbundyra commented on #41
Oh... I forgot - my idea before was to add a console command i.e. "laminas-cli create::module" (but first we need to finish up [laminas-cli](https://github.com/michalbundyra/laminas-cli))

[2020-03-16 09:42] froschdesign commented on #41
This will correspond with [current (user) feedback](https://github.com/laminas/technical-steering-committee/issues/6).
It helps all sides: when used by the user and when writing the documentation. 😃

[2020-03-18 11:15] rbbrioso28 opened #44 "Unable to resolve service "MvcTranslator" to a factory"
### Bug Report

|    Q        |   A
|------------ | ------
| Version(s)  | 3.1.1

#### Summary

``Laminas\Mvc\Service\TranslatorServiceFactory`` is not exist

#### Current behavior

Fatal error: Uncaught Laminas\ServiceManager\Exception\ServiceNotFoundException: Unable to resolve service "MvcTranslator" to a factory; are you certain you provided it during configuration?

[2020-03-18 11:23] michalbundyra commented on #44
@rbbrioso28 Probably we would need more information to help, but it looks like configuration/dependency issues, not a bug in the library itself.

I'd suggest to check if you have installed https://github.com/laminas/laminas-mvc-i18n and module is enabled in your configuration.

[2020-03-18 11:26] rbbrioso28 commented on #44
I just added this to my config, then it works
[code]

[2020-03-18 11:27] rbbrioso28 commented on #44
https://docs.laminas.dev/laminas-mvc/services/

- MvcTranslator, mapping to Laminas\Mvc\Service\TranslatorServiceFactory, and returning an instance of Laminas\Mvc\I18n\Translator, which extends Laminas\I18n\Translator\Translator and implements Laminas\Validator\Translator\TranslatorInterface, allowing the instance to be used anywhere a translator may be required in the framework.

[2020-03-18 11:29] michalbundyra commented on #44
As I said, you should have enabled `Laminas\Mvc\I18n` module, then all should be fine:

https://github.com/laminas/laminas-mvc-i18n/blob/edeae41a45de697e0efb2e01ee677217e80517db/src/ConfigProvider.php#L34-L48

Good that it's solved now.

[2020-03-18 11:29] #44 closed

[2020-03-18 11:32] rbbrioso28 commented on #44
this ``Laminas\Mvc\Service\TranslatorServiceFactory`` should be created on laminas-mvc to permanently fix the issue. hopefully on the next release.. thanks

[2020-03-18 11:42] rbbrioso28 commented on #44
this Laminas\Mvc\I18n is not existing too in its Laminas\I18n

[2020-03-18 11:49] michalbundyra commented on #44
@rbbrioso28 Please read carefully what I said - install laminas-mvc-i18n and enable this module:

[code]

More about enabling modules in your application you can read in the documentation:
https://docs.laminas.dev/laminas-mvc/intro/#configuring-the-module-manager

I would suggest using:
[code]

so then module will be registered automatically on composer require action.

[2020-03-18 12:02] rbbrioso28 commented on #44
oops.. my bad.. didn't notice this laminas-mvc-i18n module. my eyes focuses only on the mvc and i18n
thanks a lot!!!!

[2020-03-20 13:59] mimmi20 opened #47 "Call to undefined method"
### Bug Report

In the MiddlewareListener the `setResponsePrototype` is called. This method was removed in the MiddlewarePipe.

[code]

|    Q        |   A
|------------ | ------
| laminas/laminas-mvc  | 3.1.1
| laminas/laminas-psr7bridge | 1.2.1
| laminas/laminas-stratigility | 3.2.1
| laminas/laminas-eventmanager | 3.2.1
| PHP | 7.2.26

#### Summary

An error is raised when using the Middleware

[2020-03-20 14:04] michalbundyra commented on #47
@mimmi20 Thanks for reporting. Laminas MVC does not work with stratigility v3, only v2.

We have started new library for that integration - [laminas-mvc-middleware](https://github.com/laminas/laminas-mvc-middleware) but it is not completed yet.

For the time being you can use stratigility v2.

[2020-03-20 14:06] mimmi20 commented on #47
Thanks

[2020-04-24 14:37] EntityTechnologies opened #48 "Wrong primary key value assignment"
### Bug Report
**namespace:** Laminas\Db\RowGateway
**class method:** save()

There is a possible bug in following lines:
if (($primaryKeyValue = $result->getGeneratedValue()) && count($this->primaryKeyColumn) == 1) {
      $this->primaryKeyData = [$this->primaryKeyColumn[0] => $primaryKeyValue];
 }

**Explanation:**
$primaryKeyValue = $result->getGeneratedValue() assignment is wrong since the pri

[2020-04-24 14:47] samsonasik commented on #48
please report to https://github.com/laminas/laminas-db repository. thank you ;)

[2020-04-24 14:47] #48 closed

[2020-04-24 14:54] EntityTechnologies commented on #48
Will do, thanks!

[2020-05-28 06:23] #47 closed

[2020-06-09 10:50] Xerkus opened #55 "Documentation rework for 4.0"
Current documentation is severely outdated and does not meet our quality standards.

This is a tracking issue for all documentation improvements that must be done for the next major release.

@settermjd your input on the improved documentation structure would be greatly appreciated.

[2020-06-09 11:16] michalbundyra commented on #55
/cc @froschdesign

[2020-06-09 15:13] Xerkus commented on #55
A clarification needed:
@settermjd by documentation structure I mean mostly writing structure?? of the documentation from the point of view if the technical writer. A structure for the detailed yet understandable documentation that could be read like a book, if that makes sense.

[2020-06-10 08:17] froschdesign commented on #55
The documentation of laminas-mvc needs a different structure as other components like laminas-form or laminas-validator. Because laminas-form or laminas-validator consists of many individual elements which can be used individually and a form or a validator is mostly integrated in an application. But laminas-mvc creates the application itself and elements of those applications like a controller can

[2020-06-12 17:35] Xerkus opened #58 "Document module-manager removal for 4.0"
Accompanied documentation for #56 is postponed pending documentation rework (ref #55) and accumulation of major changes for the next major.

Changelog entry for #56 must also need updated for more pointers about the change.

[2020-06-22 14:06] CaptainQuirk opened #60 "Inject parameters into controller actions"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes
| RFC         | no
| BC Break    | no

#### Summary

The summary of the problem I encountered can be found on the [Laminas forum](https://discourse.laminas.dev/t/inject-parameters-into-controller-action/1263).

In short, I would like to be able to inject parameters into controller action functions so that I don't h

[2020-07-04 18:55] alichry commented on #3
Hello,

Is it possible to move the functionality of determining the target method from AbstractRestfulController's onDispatch to somewhere prior dispatch? I've provided a fix for this, specific for my purpose, using [EigenRestfulController](https://github.com/alichry/laminas-authorization/blob/master/src/Controller/EigenRestfulController.php)

I would appreciate a contributor's input on this, woul

[2020-07-15 13:42] samsonasik commented on #14
should already fixed in https://github.com/zendframework/zend-mvc/pull/282 . Please re-create issue if the problem persist.

[2020-07-15 13:42] #14 closed

[2020-07-20 19:12] samsonasik commented on #26
closing due to invalid usage.

[2020-07-20 19:12] #26 closed

[2020-07-20 19:18] samsonasik commented on #30
closing as it is unclear what the flow of "ajax action" meant. please re-create issue if problem persist with better steps to reproduce, failing test case will be better.

[2020-07-20 19:18] #30 closed

[2020-07-21 13:45] bakeiro commented on #41
BTW, what's the status with this task? I think the documentation still wrong and the laminas-cli it's not included in the getting started documentation... I guess it's not yet finished??

[2020-07-21 13:48] bakeiro commented on #41
Also does laminas-cli replace the laminas/laminas-mvc-console component? since this one looks deprecated, but it's included in the composer create project process

[2020-07-21 14:29] Xerkus commented on #41
Yes and no. Laminas-mvc-console is killed entirely as cli is significantly different from an http application and laminas-mvc primary goal is handling http requests. Console functionality in applications is replaced by something else like symfony/console

laminas-cli is a common way for the laminas based applications to register and expose cli functionality implemented with symfony/console.
In my

[2020-07-21 19:54] froschdesign commented on #41
A rewrite of the page is needed to remove all references to the skeleton module.

[2020-08-07 15:47] samsonasik commented on #4
I created PR https://github.com/laminas/laminas-mvc/pull/61 for it

[2020-08-09 12:45] samsonasik commented on #9
Based on this https://github.com/laminas/technical-steering-committee/blob/429d1c7cd38bebd45aff08bfd61618726d9c6b03/meetings/minutes/2020-08-03-TSC-Minutes.md#vote-on-static-analysis-tooling , we are going to use psalm.

I am closing this.

[2020-08-09 12:45] #9 closed

[2020-08-16 14:40] flipkickmedia opened #62 "composer create-project -sdev laminas/laminas-mvc-skeleton broken - Uncaught TypeError: Argument 1 passed to Symfony\Component\Console\Question\Question::__construct() must be of the type string, array given"
php7.3 on ubuntu20

Seems Laminas is broken out of the box with instructions from the getting started guide at https://docs.laminas.dev/laminas-mvc/quick-start/

$ composer create-project -sdev laminas/laminas-mvc-skeleton public/
Creating a "laminas/laminas-mvc-skeleton" project at "./public"
Installing laminas/laminas-mvc-skeleton (dev-master df7ec944ce1a041b155ed64ddbf31431225e2a04)
  - Install

[2020-09-15 03:00] nafassait opened #64 "PHP Fatal error: Declaration of Laminas\Mvc\Service\ModuleManagerFactory::__invoke not compatible with the interface signature"
### Bug Report

This issue noticed with an existing running project with a recent composer install as part of the build process. The old build is working fine but any new build throwing fatal error during ModuleManager invoke

|    Q        |   A
|------------ | ------
| Version(s)  | x.y.z

#### Summary

When the service manager tries to load modules ModuleManagerFactory invoke fails due to incom

[2020-09-15 03:16] Xerkus commented on #64
You are using development version of service manager from 3.5.x branch that currently contains BC break. You must not use development branches for your dependencies unless it is done as a temporary measure in exceptional circumstances.

My guess is it was unintentional and you specify in your composer file [`"minimum-stability": "dev"`](https://getcomposer.org/doc/04-schema.md#minimum-stability) i

[2020-09-15 03:16] #64 closed, assigned to nobody

[2020-10-04 15:28] boesing opened #65 "Psalm integration"
### Feature Request

|    Q        |   A
|------------ | ------
| QA    | yes

#### Summary

As decided during the [Technical-Steering-Committee Meeting on August 3rd, 2020](https://github.com/laminas/technical-steering-committee/blob/main/meetings/minutes/2020-08-03-TSC-Minutes.md#vote-on-static-analysis-tooling), Laminas wants to implement [vimeo/psalm](https://github.com/vimeo/psalm) in all pac

[2020-10-04 17:44] boesing opened #66 "PHP 8.0 support"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes

#### Summary

To be prepared for the december release of PHP 8.0, this repository has some additional TODOs to be tested against the new major version.

In order to make this repository compatible, one has to follow these steps:

- [ ] Modify `composer.json` to provide support for PHP 8.0 by adding the constraint

[2020-10-13 20:22] rarog opened #67 "Impossible to test php errors in phtml with PHPUnit"
### Bug Report

|    Q        |   A
|------------ | ------
| Version(s)  | 3.1.1

#### Summary

Currently I'm developing with php 7.4, for CLI and Apache I have set error_reporting to E_ALL, php errors during rendering of phtml

#### Current behavior

The deprecation notice inside whateverAction is raising exception and fails test as expected.
The deprecation notice inside whatever.phtml file rend

[2020-12-12 18:58] #66 closed, assigned to nobody

[2020-12-12 21:16] Xerkus commented on #67
That is expected outcome depending on how your test is setup. View rendering happens after main `dispatch` event and outside of the controller.

Generally, any exception in view script would be intercepted and passed to `render.error` (`MvcEvent::EVENT_RENDER_ERROR`) event. Unless exception happens while already inside `render.error` event, at which point it will be allowed to bubble all the way u

[2021-01-07 17:52] boesing opened #71 "AbstractActionController:indexAction states it can only return `ViewModel`"
### Bug Report (non-critical)

|    Q        |   A
|------------ | ------
| Version(s)  | 3.2.0

#### Summary

The pre-defined method `AbstractActionController::indexAction` states that it can only return `ViewModel`.
In Projects which implement their own `FooController::indexAction`, static analysis complains about an invalid return type if e.g. a `Laminas\Http\Response` is returned.

#### Curren

[2021-01-10 00:34] WinterSilence opened #72 "Invalid links in docs/book/quick-start.md"
### Bug Report

Links to `LaminasSkeletonModule zip package` and `LaminasSkeletonModule tarball` doesn't work.

https://github.com/laminas/laminas-mvc/blob/4.0.x/docs/book/quick-start.md

|    Q        |   A
|------------ | ------
| Version(s)  | 4.0.0

Please write valid URIs, can't find that's packages

[2021-04-09 08:32] froschdesign commented on #17
The form element manager is [registered with the class name `Laminas\Form\FormElementManager`](https://github.com/laminas/laminas-form/blob/90eeb9f3960be594eda3b867183eb51b541dfc4d/src/ConfigProvider.php#L42) in laminas-form and this can be used via the registered module in a laminas-mvc based application.

## Example

[code]

[code]

## Reflection Factory of laminas-servicemanager

If the [follow

[2021-07-14 12:16] Koen1999 opened #77 "Return type of AbstractActionController->getRequest can be improved"
### Bug Report

|    Q        |   A
|------------ | ------
| Version(s)  | 3.2.0

#### Summary

PhpDoc of Laminas\Mvc\Controller\AbstractActionController (or its base class Laminas\Mvc\Controller\AbstractController actually) can be improved.
In reality when calling getRequest(), you may want to use methods like isPost, which is not implemented by the currently returned interface. A subclass like L

[2021-09-16 14:10] tempfirstuser opened #78 "Outdated doc page "Using middleware within event listeners"?"
From laminas chat:

This doc https://docs.laminas.dev/laminas-mvc/cookbook/middleware-in-listeners/

@boesing  "thats actually an outdated version of how to work with middlewares in mvc"

This issue was requested by user (@ thomas from laminas chat)

[2021-09-16 14:21] rieschl commented on #78
thanks @tempfirstuser , I'll try to look into it over the weekend!

[2021-11-30 14:07] froschdesign opened #83 "Create a module"

[2021-11-30 14:08] froschdesign opened #84 "Create a controller"

[2021-11-30 14:08] froschdesign opened #85 "Create a controller action"

[2021-11-30 14:08] froschdesign opened #86 "Create a route"

[2021-11-30 14:09] froschdesign opened #87 "Create a factory for controller"

[2021-11-30 14:09] froschdesign opened #88 "Register a controller"

[2021-11-30 14:10] froschdesign opened #89 "Register factory for controller"

[2021-11-30 14:13] froschdesign opened #90 "Register module in the application"

[2021-11-30 14:14] froschdesign opened #91 "Add autoloading for module to composer.json"

[2021-11-30 14:21] #91 closed, assigned to nobody

[2021-11-30 14:22] #90 closed, assigned to nobody

[2021-11-30 14:22] #89 closed, assigned to nobody

[2021-11-30 14:22] #88 closed, assigned to nobody

[2021-11-30 14:22] #87 closed, assigned to nobody

[2021-11-30 14:22] #86 closed, assigned to nobody

[2021-11-30 14:22] #85 closed, assigned to nobody

[2021-11-30 14:22] #84 closed, assigned to nobody

[2021-11-30 14:22] #83 closed, assigned to nobody

[2021-12-19 11:12] djnotes commented on #41
For anyone interested in using LaminasSkeletonModule, I refactored the original ZendSkeletonModule to Laminas.
You can find it here:  https://github.com/djnotes/LaminasSkeletonModule
I hope someone from Laminas forks it to be under Laminas organization, so that broken links in the docs get fixed.

[2021-12-20 11:35] froschdesign commented on #41
@djnotes
Thanks for your help on this and the reminder but we are on the way to [add CLI support for creating a module](https://github.com/orgs/laminas/projects/17).
You can help too and share your ideas and wishes: https://github.com/laminas/laminas-cli/discussions/88

[2022-02-07 21:37] rtek opened #99 "`ControllerManager` service alias change breaks `laminas-mvc-console`"
## BC Break Report

|    Q        |   A
|------------ | ------
| Version     | 3.3.1

#### Summary

`laminas-mvc-console` uses a delegator to inject the console object into the container.
[code]

`ControllerManger` was converted from a service to a service alias in `3.3.1`, so the delegator does not get invoked (you cannot delegate an alias).

#### Previous behavior

Console was available via `$se

[2022-02-07 21:48] Ocramius commented on #99
Hmm, I totally thought delegators would work on aliases too 🤔

[2022-02-08 08:32] boesing commented on #99
Nope. They sadly never worked on aliases.
https://docs.laminas.dev/laminas-servicemanager/delegators/#delegator-factories-and-service-aliases

The documentation about this was added a few months back as it was not totally clear.

Would prefer that the delegators would only apply to those services which are requested via `Container#get` but as that would be a BC break for aliases, we have to swallo

[2022-02-08 16:13] Ocramius commented on #99
@rtek are you able to send a patch for this? In practice, it does what you mentioned there, but it also needs to raise the minimum supported `laminas/laminas-mvc` version inside `laminas-mvc-console`.

Alternatively, we revert the patch here, and make it so that `'ControllerManager'` is the service, while `ControllerManager::class` is the alias.

[2022-02-08 16:17] Ocramius commented on #99
Indeed, perhaps a revert/swap of this could be a better solution :thinking:

Thoughts?

[2022-02-08 16:26] boesing commented on #99
We might need to investigate if there were documentation changes regarding this behavior.
But for a quick fix, we should just revert the change to the config while creating a follow-up to verify that documentation matches actual implementation.

[2022-02-08 16:44] rieschl commented on #99
sorry, that was [my PR](https://github.com/laminas/laminas-mvc/pull/96) that caused this bug.
I'll come up with a fix or reversion.

[2022-02-08 19:36] rtek commented on #99
Unfortunately the service name is part API so the "short named" services have to remain (otherwise it would be like renaming a class or a method) and since `laminas-mvc-console` is abandoned, it cant accommodate the BC break.

@rieschl: an alias of `ControllerManager::class  => 'ControllerManager'` would maintain BC and allow the FQCN to resolve.

Regarding delegators on aliases - my opinion is th

[2022-02-08 21:05] Ocramius commented on #99
Reverted in #100

[2022-02-08 21:05] #99 closed, assigned to rieschl

[2022-02-09 17:57] boesing opened #102 "Unit tests for delegator factories"
Since we now reverted the bug which was introduced in `3.3.1` and fixed in `3.3.2`, unit tests which do actually test if delegator factories are being applied to the services fetched via the `laminas-servicemanager` would be very helpful.

Ofc, these might break in the next major when we cleanup the current behavior but until then, we should try to avoid having this same issue again in this (and m

[2022-02-21 18:02] pbcGIS opened #105 "Typo in 3.3 QuickStart Tutorial"
### Bug Report

|    Q        |   A
|------------ | ------
| Version(s)  | 3.x.x

#### Summary
In   [laminas-mvc quick-start](https://github.com/laminas/laminas-mvc/blob/3.3.x/docs/book/quick-start.md)
the command for installing the skeleton application has a typo.

Should be

Note the correct invocation of "-s dev"

[2022-02-21 18:06] Ocramius commented on #105
Could you edit the file to send a patch directly from here, please?

[2022-02-21 18:35] pbcGIS opened #106 "3.x Quick-Start module.config snippet needs improvement."
[https://github.com/laminas/laminas-mvc/blob/3.3.x/docs/book/quick-start.md](https://github.com/laminas/laminas-mvc/blob/3.3.x/docs/book/quick-start.md)

This Quick Start installs the skeleton application and adds a new controller route to the "Application." module.

The tutorial includes a snippet that illustrates the addition of a route and controller to the module.config.php .

It would be most

[2022-02-21 19:44] pbcGIS commented on #105
This is my very first time initiating a patch on gitHub.  Does "edit the file and send a patch" the same as "generate a pull request?"

Thanks for your patience.  I'm excited to learn how to contribute.

[2022-02-21 19:50] Ocramius commented on #105
Yup, that would work :)

Make sure you edit on the `3.3.x` branch, so your change can be published as a patch :+1:

Also consider using a branch and commit message that makes sense (github UI should give you input fields for that)

[2022-02-21 20:22] Ocramius commented on #106
Handled in #107, thanks @pbcGIS!

[2022-02-21 20:32] pbcGIS commented on #106
Thank you very much!  The world will be a happier place!

[2022-02-22 09:33] froschdesign commented on #105
Fixed with #107 and released with [version 3.3.3](https://github.com/laminas/laminas-mvc/releases/tag/3.3.3).

[2022-02-22 09:33] #105 closed, assigned to nobody

[2022-02-22 10:24] Ocramius commented on #106
Oof, wrong referenced issue indeed. Thanks @froschdesign!

[2022-02-22 15:02] pbcGIS commented on #106
Thank you guys,

I reformatted this as a pull request for 3.4.x.

I'm very new to github/Laminas so please don;t hesitate to criticize my
style and technique.

--pbc

On Tue, Feb 22, 2022 at 5:24 AM Marco Pivetta ***@***.***>
wrote:

--
Paul B. Cote
Geographic Information Services
cultivating spatial intelligence [tm] <http://www.pbcgis.com>
pbcGIS.com

[2022-02-25 10:30] finn-matti opened #110 "AbstractRestfulController: return response instead of array"
### Feature Request

At the moment all method that map to HTTP verbs return something like the following:

[code]

We suggest that the response object should be returned here, instead of an array, like so:

[code]

|    Q        |   A
|------------ | ------
| New Feature | yes
| RFC         | no
| BC Break    | maybe

#### Summary

In this way a not implemented method in a controller can simply be

[2022-02-25 10:48] Ocramius commented on #110
In theory, if `mixed` is allowed as response, it should not be a BC break.

What happens right now if you return a `Response` instance?

[2022-02-25 10:48] Ocramius commented on #110
Also: could you write a test for current behavior?

[2022-03-07 20:32] afilina opened #111 "Plea for Ukraine"
As per the request of the technical steering committee, here is my draft of the message that we want to propagate. Once the draft's direction is approved, I'll open a PR for the nitty-gritty details. Finally, we will translate this to Russian.

---

Members of the Laminas team come from all over the world. Many of us have friends and family in both Russia and Ukraine. Some of us were born in Russi

[2022-03-07 20:38] afilina commented on #111
The approach I took:
- Not accusing or judging the Russian people.
- Not asking people to take a side, only stop the war.
- Share real stories, because we're real people.
- No mention of any event from the media. We don't want to debate fake news objections.
- Make it clear that we actually have Russians here, so it's not a patriotism issue.
- Remind where we stand on the question in fascism.
- As

[2022-03-07 20:51] weierophinney commented on #111
This is beautiful, @afilina

:+1: from me. Anybody else have comments?

[2022-03-07 20:54] internalsystemerror commented on #111
Just that the right person was clearly asked to write this. Succinct and to the point and hopefully enough to elicit an inquisitive response.

[2022-03-07 21:04] Ocramius commented on #111
I am a bit weirded out by the missing accusation, but if you believe that this will have a better impact on the readers in Russia, this can go in, IMO 👍

Thanks for the quick and powerful writeup, @afilina!

[2022-03-07 21:32] weierophinney commented on #111
@afilina We have consensus here and in the #tsc-meeting channel. Can you provide a Russion translation of this for us as well, please? We'll then take that and start adding to the README.md of all our repos.

Thank you; you're amazing, and this is tremendously heartfelt and moving.

[2022-03-07 21:38] afilina commented on #111
Currently translating.

[2022-03-21 21:51] boesing opened #113 "Removal of `container-interop/container-interop`"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes
| BC Break    | yes

#### Summary

This issue is created to keep track of the status of getting rid `container-interop` in the `laminas` components.

[2022-04-21 14:19] gregtyler opened #114 "AbstractRestfulController::patch returns array, not mixed"
### Bug Report

|    Q        |   A
|------------ | ------
| Version(s)  | 3.3.3

#### Summary

`AbstractRestfulController::patch` has a typehint of `@return array` rather than `@return mixed` (which the other actions have).

#### Current behavior

This issue is highlighted by static analysis tools like PHPStan when you extend the class. If you try to set a return type of e.g. `JsonModel` or `Resp

[2022-04-21 14:36] Ocramius commented on #114
Changing the return type to `mixed` may break BC here, as it would mean that callers can expect anything, whereas they previously would expect `array` :thinking:

[2022-04-21 14:51] Xerkus commented on #114
Following intended use of the return values in `AbstractController` and its descendants, `array` was never a valid return type as it is expected that `ViewModel` would be returned, with array just a convenience shortcut for `ViewModel`, while Response object as a return value would short circuit controller's `dispatch` event and would prevent `render` event entirely.

With that in mind, this is no

[2022-04-21 15:26] gregtyler commented on #114
Thanks both, with that in mind I've created #115 :)

[2022-04-21 15:44] Xerkus commented on #111
This was applied across Laminas

[2022-04-21 15:44] #111 closed, assigned to nobody

[2022-04-21 15:56] #114 closed, assigned to nobody

[2022-04-21 16:04] Xerkus commented on #78
This cookbook is not relevant and should be dropped entirely since double-pass middleware are not a thing anymore.

With the PSR middleware flow it is impossible to have them attached as listeners anymore.

[2022-05-19 14:40] ruslanbaidan opened #116 "Implement and abstract controller that implement RequestHandlerInterface"
### Feature Request
Abstract controller that will implement RequestHandlerInterface and dispatch the request to the specific restful action.

#### Summary
Extending of this controller can allow to add a specific controller to a PipeSpec list.
And therefor providing a link between Middleware PSR-15 specification and mvc controllers based application.
The feature can be useful in previously or new a

[2022-05-19 18:23] rieschl commented on #116
Isn't this what [laminas-mvc-middleware](https://docs.laminas.dev/laminas-mvc-middleware/) already does?

[2022-05-20 07:31] ruslanbaidan commented on #116
If we add a controller that extends AbstractRestfulController to the PipeSpec [list](https://docs.laminas.dev/laminas-mvc-middleware/v2/dispatching-middleware/#pipespec-with-psr-15-service-names), there will be an error [InvalidMiddlewareException](https://github.com/laminas/laminas-mvc-middleware/blob/2.3.x/src/HandlerFromPipeSpecFactory.php#L32-L55), as it has to implement  one of RequestHandler

[2022-06-03 14:37] #78 closed, assigned to rieschl

[2022-06-03 14:39] #8 closed

[2022-06-03 14:57] Xerkus opened #120 "Provide migration documentation for deprecated built-in middleware"
Documentation needs a migration guide on moving from built-in middleware support to laminas-mvc-middleware.

[laminas-mvc-middleware provides a page for migrating from v1](https://docs.laminas.dev/laminas-mvc-middleware/v2/migration/) Version 1.x was a direct extraction of functionality built-in into laminas-mvc 3.x which makes the guide applicable for migration from laminas-mvc as well. However,

[2022-06-03 15:14] #1 closed

[2022-06-03 18:21] #15 closed

[2022-06-08 08:53] voltan commented on #120
Unfortunately, [mvc-middleware](https://docs.laminas.dev/laminas-mvc-middleware/v2/quick-start/) documents are not true, When I try to work whit them I have to search too much and try many methods

I suggest updating documents too.

I can do this, but need to make sure my method is true, here is part of our codes:

- https://github.com/pi-engine/user/blob/main/config/module.config.php
- https://gi

[2022-06-08 09:11] froschdesign commented on #120
Please add this to the [related issue tracker](https://github.com/laminas/laminas-mvc-middleware/issues) otherwise everyone will lost the overview. This issue report is only refers to the migration of deprecated built-in middleware.
Thanks in advance! 👍

[2022-08-02 15:30] Jurigag opened #126 "Implement a application event dispatcher reset"
### Feature Request

So, currently in laminas-test a reset of test is done just by initialization of whole application again which in big codebase can take a huge amount of time, with creating container, reading configs etc.

Most of other frameworks works pretty fine with typical request-response loop, like you can execute multiple request on application itself and it will return proper responses

[2022-08-02 15:32] Ocramius commented on #126
Resetting services is not really feasible, without making individual services resettable via proxies :thinking:

[2022-08-07 03:50] goharsahi commented on #27
I'm experiencing somewhat similar issue. My Listener code is below

[code]

[code]

All works as per the code except below.

[code]

This is always `dashboard`, due to which instead of routing to `unauthorized` action of `Controller\UserController::class` it was routes to  `dashboard` action of `Controller\IndexController::class`.

If I use the below code

[code]

It keeps suffixing it to original

[2022-08-08 08:34] froschdesign commented on #27
@goharsahi
Please use the [forum](https://discourse.laminas.dev) for support questions.
Thanks in advance! 👍🏻

[2022-08-08 08:34] #27 closed

[2022-08-09 02:00] Xerkus commented on #126
At some point me and others in then zend framework community tried to use same application to handle multiple consecutive requests. We doscovered that application was leaking state between requests pretty badly in unpredictable manner.

I do not think application can be reliably reset for testing purposes for much the same reasons it couldn't be used for multiple requests.

[2022-08-09 09:06] Ocramius commented on #126
Biggest issue being that the controller helpers and view helpers are stateful by design too.

Services being resettable is feasible with some work, but that would require expanding the `laminas/laminas-servicemanager` capabilities substantially.

[2022-08-20 10:58] renovate[bot] opened #127 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.<br>[View this repository on the Mend.io Web Portal](https://developer.mend.io/github/laminas/laminas-mvc).

## Awaiting Schedule

The following updates are awaiting their schedule. To get an update now, click on a checkbox below.

 -

[2022-09-05 11:53] cbichis opened #129 "The documentation for AbstractRestfulController is incomplete"
For AbstractRestfulController we should have more details, including a sample route.

By example there is an issue with a normal route config if is not nullified the default action. Without this the AbstractRestfulController tries to dispatch the indexAction (which can result in dispatching notFoundAction if indexAction is not defined)... I guess 'action' is defaulting to 'index' somehow.

[code]

[2022-09-07 11:35] froschdesign commented on #65
Fixed with 74458f4ed736a95d15c6550dcec7dc8722af9647 (See also https://github.com/laminas/laminas-mvc/runs/8219015332?check_suite_focus=true)

[2022-09-07 11:35] #65 closed, assigned to nobody

[2022-09-20 10:32] #113 closed, assigned to Xerkus

[2022-10-19 14:41] 4m4dis commented on #77
In my case return types of AbstractActionController->getRequest and AbstractActionController->getResponse leads to the construction of an incorrect taint flow by PSALM SAST.

Functions getRequest() and getResponse() should return HttpRequest and HttpResponse objects, but return Request and Response types. It’s critical when we do taint analysis. Invalid types lead to missing a lot of vulnerability

[2022-10-19 14:59] Ocramius commented on #77
The `Laminas\Stdlib\*` instances being returned are by design: that's because `laminas/laminas-mvc` was designed to also handle CLI actions inside controllers.

This can be adjusted with a BC break in `^4`.

[2022-11-28 17:09] chaos0815 commented on #4
Would it be a solution to pass the desired status code as an optional parameter to the `toUrl()` method and as an `$option = ['statusCode' => 301]` to the `toRoute()` method?